@import url(1header.css);
@import url(2seçoes.css);


:root {
    --fonte-inter: "Inter", sans-serif;

    --cinza-claro: #667085;
    --cinza-escuro: #3A404E;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --azul-escuro: #101828;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}